<div class="ui inverted vertical footer segment">
<div class="ui center aligned container">
  <h2 class="ui center aligned inverted header">
    <img class="circular icon" src="cone.png" alt="">
    Want to get in touch?
    <div class="sub header"></div>
  </h2>
  <br>
  <div class="ui stackable inverted divided grid">
    <div class="three wide column">
      <h4 class="ui inverted header">Got a Quick Word?</h4>
      <div class="ui inverted link list">
        <a href="#" class="item"><i class="phone icon"></i>555 - 5555</a>
        <a href="#" class="item">hello@dcic.com</a>
      </div>
    </div>
    <div class="three wide column">
      <h4 class="ui inverted header">Want to Pop In?</h4>
      <div class="ui inverted link list">
        <a href="#" class="item">#1 123 Fake Street</a>
        <a href="#" class="item">Faketon 12345</a>
        <a href="#" class="item">Fakeland</a>
      </div>
    </div>
    <div class="three wide column">
      <h4 class="ui inverted header">Need to Send Something?</h4>
      <div class="ui inverted link list">
        <a href="#" class="item">Dreamy Creamery Ice Cream</a>
        <a href="#" class="item">PO Box 1</a>
        <a href="#" class="item">Faketon 12345</a>
        <a href="#" class="item">Fakeland</a>
      </div>
    </div>
    <div class="seven wide column">
      <h4 class="ui inverted header">Social Media Plugs</h4>
      <p>Engage with us!</p>
      <i class="facebook icon"></i>
      <i class="twitter icon"></i>
      <i class="reddit icon"></i>
    </div>
  </div>
  <div class="ui inverted section divider"></div>
  <div class="ui horizontal inverted small divided link list">
    <a class="item" href="#">Site Map</a>
    <a class="item" href="#">Contact Us</a>
    <a class="item" href="#">Terms and Conditions</a>
    <a class="item" href="#">Privacy Policy</a>
  </div>
</div>
</div>
<script src="/script/script.js" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" charset="utf-8"></script>
</body>
</html>
