<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meet the Dreamy Creamery Ice Cream Team</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item">
              <img class="icon small" src="../images/invcone.png" alt="">Dreamy Creamery Ice Cream</div>
              <a href="/" class="item">Head on Home</a>
              <a href="/team" class="item">Meet the Dreamy Creamery Dream Team</a>
              <a href="/contact" class="item">Get in Touch</a>
        </div>
    </div>
