<% include partials/header %>

<div class="ui container landing-image">
  <h1 class="ui center aligned header">Passionate Statement with Beautiful Photo Underlay <br><br><br><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1>
</div>
<hr>
<div class="ui container">
  <h2 class="ui center aligned icon header">
    <i class="circular users icon"></i>
    Our Founders
    <div class="sub header">
      Meet the backbone of the Dreamy Creamery!
    </div>
  </h2>
</div>
<hr>
<div class="ui container">
  <div class="ui grid">
    <div class="three column row">
      <div class="column">
        <img class="ui fluid image" src="../images/cow.jpg" alt="cow">
      </div>
      <div class="column">
        <h2 class="ui header centered">
          <div class="content">
            <i class="angle left icon"></i>
            I'm a cow! It may still be dreamy, but without me, ice cream's not very creamy!
          </div>
        </h2>
      </div>
      <div class="column">
        <img class="ui fluid image" src="../images/cane.jpg" alt="sugar cane">
      </div>
    </div>
    <div class="three column row">
      <div class="column">
        <h2 class="ui header centered">
          <div class="content">
            I'm anything but plain!
            <i class="angle right icon"></i>
          </div>
        </h2>
      </div>
      <div class="column">
        <img class="ui fluid image" src="../images/vanilla.jpg" alt="vanilla pod">
      </div>
      <div class="column">
        <h2 class="ui header centered">
          <div class="content">
            <i class="angle up icon"></i>
            I'm sweet but not strong! Excluding me would be wrong!
          </div>
        </h2>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="ui contianer">
  <div class="ui centered grid">
    <div class="three column row">
      <div class="column">
        <a href="/team">
          <button class="ui button fluid large" type="button" name="button">Meet the rest of the team!
          </button>
        </a>
      </div>
    </div>
    <div class="column">
    </div>
  </div>
</div>

<% include partials/footer %>
